/* Css do card game - inicio*/
#game {
    position: relative;
    width: 52rem;
    height: 31rem;
    border: 1px solid #111;
    border-radius: 0.625em;
    margin: 50px auto;
    background-color: #222;
    box-shadow: 0px 3px 10px 1px rgba(177, 172, 160, 0.281);
}

.cardGame {
    width: 10rem;
    height: 15rem;
    perspective: 600px;
    position: absolute;
    border-radius: 10px;
}

.face {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(-180deg);

}

.flipped.front {
    transform: rotateY(0deg);

}

.flipped.back {
    transform: rotateY(180deg);
}

.cardGame:hover,
.face.flipped {
    box-shadow: 0 0 10px #aaa;
}

.face.flipped.match {
    box-shadow: 0 0 10px #0f0;
}

#match {
    display: flex;
    justify-content: center;

    position: relative;
    margin: 0 auto;
    top: 40%;
    z-index: -1;
    opacity: 1;
    transition-property: top, opacity;
    transition-duration: 1.5s;
}

#gameOver {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#gameOver .card {
    width: 50%;
    background-color: #22222279;
}

#gameOver .card-title {
    color: white;
    font-size: 3rem;
    padding: 0;
    max-width: none;
    font-family: "Nunito", sans-serif;
}

.card-subtitle {
    font-size: 1.4rem;
}

.gameOverClass {
    border-radius: 15px;
}

/* Css do card game - fim*/

/* POSICIONAMENTO DAS CARTAS */

@media (max-width: 850px) {
    #game {
        position: relative;
        width: 79vw;
        height: 47.5vh;
        border: 1px solid #111;
        border-radius: 0.625em;
        margin: 50px auto;
        background-color: #222;
        box-shadow: 0px 3px 10px 1px rgba(177, 172, 160, 0.281);
    }

    .cardGame {
        width: 15vw;
        height: 22vh;
        perspective: 600px;
        position: absolute;
        border-radius: 10px;
    }

    .card {
        width: 75%;
    }

    #gameOver .card-body {
        padding: 0.25rem;
    }

    .card-title,
    #imgGameOver h4  {
        font-size: 1rem;
    }

    .card-subtitle{
        font-size: 0.75rem;
    }

    #card0,
    #card1,
    #card2,
    #card3,
    #card4 {
        top: 1vh !important;
    }

    #card5,
    #card6,
    #card7,
    #card8,
    #card9 {
        top: 24vh !important;
    }

    #card0,
    #card5 {
        left: 1vw !important;
    }

    #card1,
    #card6 {
        left: 16.5vw !important;
    }

    #card2,
    #card7 {
        left: 32vw !important;
    }

    #card3,
    #card8 {
        left: 47.5vw !important;
    }

    #card4,
    #card9 {
        left: 63vw !important;
    }

}

