
.row {
    margin: 0!important;
}
body {
    background: #207b5d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #052c14, #207b5d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left top, #207b5d, #052c14);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
}

.container h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 7rem;
    color: #fff;

    margin: 30px auto;

}

.container h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

/* css do dropdown - como jogar - inicio */

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9bb;
    width: 40em;
    margin-top: 1px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-menu p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f19d;
}

/* css do dropdown - como jogar - fim */


.button-group {
    margin: 30px 10px auto 10px;
    text-align: center;

    position: relative;
    }
    
    .button {
        background-color: rgb(52, 131, 52);
        color: #FFFFFF !important;
        font-family: sans-serif;
    
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    }
    
    .button:hover {
        text-decoration: none;
    
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 4px 10px 0 rgba(0, 0, 0, 0.171);
    }
    
    .button {
        transition: all .3s ease-out;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    
    .button {
        border: 0;
        font-size: 1.6em;
        padding: 0.3em;
        width: 5em;
        height: 2.5em;
        text-align: center;
        display: inline-block;
        margin: 5px;
        border-radius: 10px;
    }

/* Configurações Mobile */
@media (max-width: 500px) {
    .container {
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    .container h1 {
        font-size: 3rem;

        margin: 0px;
    }

    .container h3 {
        max-width: 70vw;
        font-size: 1rem;
    }

    .dropdown-menu {
        font-size: 0.7rem!important;
        width: 25em;
    }

    .dropdown-item-text ul {
        padding-inline-start: 10px;
    }

    .button {
        width: 80%;
        height: 40px;

        font-size: 1em;
    }
}

@media (max-width: 330px) {
    .button {
        width:6em;
        height: 40px;
        font-size: 1em;
    }
}


/* 
SEGUNDA OPÇÃO DE ESTILO DE BOTÃO
.button {
    width: 20%;
    padding: 15px;
    margin: auto 10px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: forestgreen;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 0 2px #707070, 0 4px #505050, 0 6px #4F4F4F, 0 8px #363636;
}

.button:hover {
    background-color: #1b5e20;
    color: #fff;
    text-decoration: none;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666, 0 5px rgb(82, 81, 81);
    transform: translateY(4px);
} */
