* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito sans Bold', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #1c1c1c;
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.815);
}
.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    display: inline-block!important;
}

#navbar-links a {
    color: lightgray;
    font-size: 1.2rem;
}

/* link ativo */
#navbar-links>a.nav-item.nav-link.active {
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
}
#navbar-links>a.nav-item.nav-link:hover {
    color: #FFF;
    font-size: 20px;
}

#navbar-links>a.nav-item.nav-link.active:after {
    content: '';
    background-color: forestgreen;
    width: 63px;
    height: 4px;
    display: block;
    margin: auto;
}

body > nav > button > span > i {
    color: whitesmoke;
}


/* Container_2 - inicio*/
.container_2 {
    /* display: none; */
    background-image: url("../img/background_game.jpg");
    height: auto;
    padding: 80px 10px;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.container_2 h1 {
    color: white;
    font-size: 5em;
    padding-top: 40px;
    margin-left: 80px;
    text-shadow: 4px 6px black;
}

.container_2 h2 {
    color: whitesmoke;
    margin-left: 85px;
    max-width: 60%;
}

body>div.container_2>div:nth-child(1)>div.col-2 {
    padding-top: 40px;
}

.button-ref {
    float: right;
    width: fit-content;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(255, 255, 255, 0.863);
    background-color: rgb(46, 40, 40);
    border-radius: 5px;
    border: 1px solid rgb(46, 40, 40);
}

.button-ref:hover {
    text-decoration: none;
    border: 1px solid whitesmoke;
    color: white;
}

button:focus {
    outline: none !important;
}

/* Container_2 - fim*/

/* Container_3 - inicio*/
.container_3 {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    height: auto;
    padding: 5px;
}

/* Container_3 - fim*/
/* Container_4 Accordion - inicio*/

.container_4 {
    width: 75%;
    margin: 100px auto 270px auto;
    text-align: justify;
}

.title_container_4 {
    display: inline-flex;
    line-height: 50px;
    padding: 10px;
}

.container_4 h3 {
    font-size: 2em;
    color: #4c4c4c;
    text-align: start;
}

.container_4 img {
    width: 3%;
    height: 3%;
    margin-left: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel h3 {
    margin: 20px auto;
    color: forestgreen;
}

.panel h4 {
    font-size: 1em;
    float: right;
    margin-bottom: 20px;
    color: #545454;
}

.panel h5 {
    margin-bottom: 20px;
    font-size: large;
    color: olivedrab;
}

.panel p {
    margin: 20px auto;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #555;
}

.panel img {
    float: left;
    width: 20%;
    margin-right: 10px;
}

body>div.container_3>div>div.panel>h4>a {
    color: #545454 !important;
    text-decoration-line: none;
}

/* Container_4 Accordion - fim*/
/* Footer */
.footer {
    position: relative;
    bottom: 0;

    width: 100%;
    padding: 20px 0;

    background-color: rgb(37, 35, 35);
    color: white;
}

#copyright {
    position: relative;
    bottom: 0;

    width: 100%;
    padding: 10px 0;
}

.img-fluid {
    max-width: 50%!important;
    max-height: 50%!important;
}

.footer-logo h3 {
    font-family: "Nunito", sans-serif;
}

ul li {
    list-style: none;
}

#copyright {
    background-color: rgb(24, 23, 23);
    color: whitesmoke;

    height: 10vh;
}

.fa-github {
    color: #ffffffce; 
    transition: all .3s;
}

.fa-github:hover {
    color: #FFF;
    transform: scale(1.1);
}