* {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	text-align: center;
	background-color: white;
	width: 100%;
}

/* Css Container 1 - Inicio */
.container_1 {
	padding: 180px 50px 90px 180px;
	text-align: initial;
	height: 65vh;
	background: #207b5d;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #052c14, #207b5d);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left top, #207b5d, #052c14);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.container_1 h1 {
	width: fit-content;
	font-size: 10vh;
	font-weight: 700;
	color: #fff;


}

.container_1 h3 {
	margin-top: 10px;
	padding-bottom: 20px;
	max-width: 60%;
}

.container_1 h3 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
}

.container_1 img {
	float: right;
	margin-right: 40px;
	width: 30%;
}

#arrow_icon {
	width: 5%;
	position: absolute;
	top: 700px;
	left: 0px;
	right: 0px;
	bottom: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* css do dropdown - como jogar - inicio */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	margin-top: 20px;
	font-size: 20px;
	width: 30vh;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: #f9f9f9bb;
	width: 30em;
	margin-top: 1px;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

.dropdown-content p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f19d;
}

.dropdown:hover .dropdown-content {
	display: block;

}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

/* css do dropdown - como jogar - fim */

/* Css container 1 - Fim */

/* Container_2 - inicio*/
.container_2 {
	background-image: url("../img/background_game.jpg");
	/* background: #000000; */
	/* fallback for old browsers */
	/* background: -webkit-linear-gradient(to left, #000000, #434343); */
	/* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to left, #000000, #434343); */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: auto;
	padding: 80px 10px;
}

/* Container_2 - fim*/

/* Container_3 - inicio*/
.container_3 {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: center;
	height: auto;
	padding: 5px;
}

/* Container_3 - fim*/

/* Css do card game - inicio*/
#game {
	position: relative;
	width: 1325px;
	height: 495px;
	border: 1px solid #111;
	border-radius: 10px;
	margin: 50px auto;
	background-color: #222;
	box-shadow: 0px 3px 10px 1px rgba(177, 172, 160, 0.281);
}

.card {
	width: 160px;
	height: 240px;
	perspective: 600px;
	position: absolute;
	border-radius: 10px;
}

.face {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 1s;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(-180deg);

}

.flipped.front {
	transform: rotateY(0deg);

}

.back {
	background: url(../img/verso.jpg);
	background-size: 100% 100%;
}

.flipped.back {
	transform: rotateY(180deg);
}

.card:hover,
.face.flipped {
	box-shadow: 0 0 10px #aaa;
}

.face.flipped.match {
	box-shadow: 0 0 10px #0f0;
}

#match {
	position: relative;
	margin: 0 auto;
	top: 250px;
	z-index: -1;
	opacity: 1;
	transition-property: top, opacity;
	transition-duration: 1.5s;
}

#gameOver {
	position: absolute;
	top: 0;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -2;
}

#imgGameOver {
	margin-top: 100px;
}

.gameOverClass {
	border-radius: 15px;
}

/* Css do card game - fim*/
/* Container_4 Accordion - inicio*/

.container_4 {
	width: 75%;
	margin: 100px auto 270px auto;
	text-align: justify;
}

.title_container_4 {
	display: inline-flex;
	line-height: 50px;
	padding: 10px;
}

.container_4 h3 {
	font-size: 2em;
	width: fit-content;
	color: #4c4c4c;
	text-align: start;
}

.container_4 img {
	width: 3%;
	margin-left: 10px;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: large;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel h3 {
	margin: 20px auto;
	color: forestgreen;
}

.panel h4 {
	float: right;
	margin-bottom: 20px;
	color: #545454;
}

.panel h5 {
	margin-bottom: 20px;
	font-size: large;
	color: olivedrab;
}

.panel p {
	margin: 20px auto;
	font-size: large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #555;
}

.panel img {
	float: left;
	width: 20%;
	margin-right: 10px;
}

/* Container_4 Accordion - fim*/
/* Footer */
.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	background-color: rgb(37, 35, 35);
	color: white;
	text-align: left;
	font-size: 1rem;
}

.footer_container {
	margin: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.footer_container p {
	padding-bottom: 8px;
	border-bottom: 1px solid #3333;
}

.footer_container a i {
	margin: 10px;
	font-size: 45px;
	float: right;
	color: white;
}